@media screen and (max-width: 768px) {
  .task-manager-container {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
    order: 2; /* Переместить сайдбар под кнопку */
    margin-bottom: 20px; /* Увеличить отступ между сайдбаром и карточками */
    display: none; /* Скрываем сайдбар по умолчанию */
  }

  .main-content {
    width: 100%;
  }

  .task-form {
    width: 100%; /* Ширина формы занимает всю доступную ширину */
  }
}
  .main-content {
    width: 100%;
  }

  .blue-button {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 20px; 
  }

  .task-cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .task-form {
    display: none; 
    width: 100%; 
  }

  .show-form .task-form {
    display: block; 
  }
