.task-manager-container {
    display: flex;
  }
  
  .sidebar {
    width: 25%;
    padding: 20px;
  }
  
  .main-content {
    width: 75%;
    padding: 20px;
  }
  
  .blue-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .task-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .task-card {
    width: calc(50% - 10px);
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .task-card h3 {
    margin-top: 0;
  }
  
  .task-card p {
    margin-bottom: 10px;
  }

.hidden {
  display: none;
}

.task-manager-container.hide-content {
  filter: blur(5px); 
  pointer-events: none; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}

  @media screen and (max-width: 768px) {
    .task-manager-container {
      flex-direction: column-reverse; }}