.task-form {
  margin: 0 auto;
  width: 50%;
}

.task-form label {
  display: block;
  margin-bottom: 10px;
}

.task-form input[type="text"],
.task-form select,
.task-form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.task-form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.task-form button[type="submit"]:hover {
  background-color: #0056b3;
}
.back-button {
  background-color: #ccc;
  color: #000;
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.back-button:hover {
  background-color: #aaa;
}